<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843558094133-7ehu0o4nscb62g91qtm94vtmsg1i63pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843558094133-7ehu0o4nscb62g91qtm94vtmsg1i63pj</string>
	<key>API_KEY</key>
	<string>AIzaSyCI-GahBR-kZUU12qjDGXZJ8JruHmbtNnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>843558094133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arg.lucian.MyFitnessApp</string>
	<key>PROJECT_ID</key>
	<string>my-fitness-app-20927</string>
	<key>STORAGE_BUCKET</key>
	<string>my-fitness-app-20927.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843558094133:ios:3bcadfea1e734abb0e787c</string>
	<key>DATABASE_URL</key>
	<string>https://my-fitness-app-20927.firebaseio.com</string>
</dict>
</plist>